[submodule "third_party/clap"]
	path = third_party/clap
	url = https://github.com/free-audio/clap.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "packages/poryaaaa/tools/captures/mgba-headless-channel-mute/mgba"]
	path = packages/poryaaaa/tools/captures/mgba-headless-channel-mute/mgba
	url = https://github.com/mgba-emu/mgba.git
[submodule "packages/poryaaaa-m4l/source/max-sdk-base"]
	path = packages/poryaaaa-m4l/source/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base
[submodule "packages/voicegroup-lsp"]
	path = packages/voicegroup-lsp
	url = https://github.com/Sp3cker/voicegroup-lsp
